<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>989619223719-k63tbmnou4se9ucub5lfaj8v4va011bq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.989619223719-k63tbmnou4se9ucub5lfaj8v4va011bq</string>
	<key>API_KEY</key>
	<string>AIzaSyAwJs1ThEqsx1YpmEb9-v8VPg97mz7Ti7k</string>
	<key>GCM_SENDER_ID</key>
	<string>989619223719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mathieujanneau.openLogin</string>
	<key>PROJECT_ID</key>
	<string>fb-login-c4ffc</string>
	<key>STORAGE_BUCKET</key>
	<string>fb-login-c4ffc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989619223719:ios:ebddb9f0cbe4dac1</string>
	<key>DATABASE_URL</key>
	<string>https://fb-login-c4ffc.firebaseio.com</string>
</dict>
</plist>